In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import export_text
import itertools
import re

# Create the dataframe with more records and additional variables
data = {
    'Age': [25, 30, 22, 35, 28, 40, 45, 27, 33, 29] * 5,
    'Income': [50000, 60000, 45000, 70000, 55000, 80000, 90000, 52000, 65000, 59000] * 5,
    'Education': ['High', 'Low', 'Medium', 'Medium', 'High', 'Low', 'Medium', 'High', 'Low', 'Medium'] * 5,
    'Gender': ['Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female'] * 5,
    'Target': [0, 1, 0, 1, 1, 0, 1, 0, 1, 1] * 5
}
df = pd.DataFrame(data)

# One-hot encode categorical variables
df = pd.get_dummies(df, columns=['Education', 'Gender'], drop_first=True)

# Fit a decision tree model
X = df.drop('Target', axis=1)
y = df['Target']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

tree_model = DecisionTreeClassifier()
tree_model.fit(X_train, y_train)

# Generate text-based rules from the decision tree
tree_rules = export_text(tree_model, feature_names=X.columns.tolist())

# Define combinations of variables
variable_combinations = list(itertools.combinations(X.columns, 2))

# Extract complex rule conditions based on variable combinations
complex_rule_conditions = []
for line in tree_rules.split('\n'):
    if line.startswith('|---') and 'class:' not in line:
        for var1, var2 in variable_combinations:
            condition = line.replace('|--- ', '').strip()  # Modify condition format
            condition = re.sub(r'([A-Za-z_]+)', r'row["\1"]', condition)  # Replace feature names
            condition = condition.replace(f'row["{var1}"]', var1).replace(f'row["{var2}"]', var2)
            complex_rule_conditions.append(condition)

# Custom function to evaluate conditions row-wise
def evaluate_condition(row, condition):
    try:
        return int(eval(condition, {'__builtins__': None, 'row': row}))
    except:
        return 0

# Create binary features based on the complex rule conditions
for idx, condition in enumerate(complex_rule_conditions):
    feature_name = f'complex_rule_{idx}'
    df[feature_name] = df.apply(lambda row, condition=condition: evaluate_condition(row, condition), axis=1)

# Split the dataset for anomaly detection
X = df.drop('Target', axis=1)
y = df['Target']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Use X_train for training your anomaly detection model
# Use X_test for evaluating the model's performance

In [2]:
X_train.head()

,Age,Income,Education_Low,Education_Medium,Gender_Male,complex_rule_0,complex_rule_1,complex_rule_2,complex_rule_3,complex_rule_4,...,complex_rule_10,complex_rule_11,complex_rule_12,complex_rule_13,complex_rule_14,complex_rule_15,complex_rule_16,complex_rule_17,complex_rule_18,complex_rule_19
12,22,45000,0,1,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,28,55000,0,0,1,0,0,0,0,0,...,0,0,0,0,1,1,1,1,1,1
37,27,52000,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
8,33,65000,1,0,1,0,0,0,0,0,...,0,0,0,0,1,1,1,1,1,1
3,35,70000,0,1,0,0,0,0,0,0,...,0,0,0,0,1,1,1,1,1,1

In [5]:
import pandas as pd
from sklearn.ensemble import IsolationForest
from sklearn.model_selection import train_test_split

# Fit the Isolation Forest model
isolation_forest_model = IsolationForest(contamination=0.1, random_state=42)
isolation_forest_model.fit(X_train)

# Predict anomalies
anomaly_scores = isolation_forest_model.decision_function(X)

# Add 'anomaly' score column to the original dataset
df['anomaly_score'] = anomaly_scores

# Set a threshold for anomaly classification
anomaly_threshold = -0.2  # Adjust this threshold as needed

# Add 'anomaly' column as True or False
df['anomaly'] = df['anomaly_score'] < anomaly_threshold

# Display the dataset with 'anomaly' column
print(df)

# Display the dataset with 'anomaly' scores
#print(df)

C:\Users\pixel\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but IsolationForest was fitted with feature names
  warnings.warn(

    Age  Income  Target  Education_Low  Education_Medium  Gender_Male  \
0    25   50000       0              0                 0            1
1    30   60000       1              1                 0            0
2    22   45000       0              0                 1            1
3    35   70000       1              0                 1            0
4    28   55000       1              0                 0            1
5    40   80000       0              1                 0            0
6    45   90000       1              0                 1            1
7    27   52000       0              0                 0            0
8    33   65000       1              1                 0            1
9    29   59000       1              0                 1            0
10   25   50000       0              0                 0            1
11   30   60000       1              1                 0            0
12   22   45000       0              0                 1            1
13   35   70000       1              0                 1            0
14   28   55000       1              0                 0            1
15   40   80000       0              1                 0            0
16   45   90000       1              0                 1            1
17   27   52000       0              0                 0            0
18   33   65000       1              1                 0            1
19   29   59000       1              0                 1            0
20   25   50000       0              0                 0            1
21   30   60000       1              1                 0            0
22   22   45000       0              0                 1            1
23   35   70000       1              0                 1            0
24   28   55000       1              0                 0            1
25   40   80000       0              1                 0            0
26   45   90000       1              0                 1            1
27   27   52000       0              0                 0            0
28   33   65000       1              1                 0            1
29   29   59000       1              0                 1            0
30   25   50000       0              0                 0            1
31   30   60000       1              1                 0            0
32   22   45000       0              0                 1            1
33   35   70000       1              0                 1            0
34   28   55000       1              0                 0            1
35   40   80000       0              1                 0            0
36   45   90000       1              0                 1            1
37   27   52000       0              0                 0            0
38   33   65000       1              1                 0            1
39   29   59000       1              0                 1            0
40   25   50000       0              0                 0            1
41   30   60000       1              1                 0            0
42   22   45000       0              0                 1            1
43   35   70000       1              0                 1            0
44   28   55000       1              0                 0            1
45   40   80000       0              1                 0            0
46   45   90000       1              0                 1            1
47   27   52000       0              0                 0            0
48   33   65000       1              1                 0            1
49   29   59000       1              0                 1            0

    complex_rule_0  complex_rule_1  complex_rule_2  complex_rule_3  ...  \
0                0               0               0               0  ...
1                0               0               0               0  ...
2                0               0               0               0  ...
3                0               0               0               0  ...
4                0               0               0               0  ...
5                0               0               0               0  ...
6                0               0               0               0  ...
7                0               0               0               0  ...
8                0               0               0               0  ...
9                0               0               0               0  ...
10               0               0               0               0  ...
11               0               0               0               0  ...
12               0               0               0               0  ...
13               0               0               0               0  ...
14               0               0               0               0  ...
15               0               0               0               0  ...
16               0               0               0               0  ...
17               0               0               0               0  ...
18               0               0               0               0  ...
19               0               0               0               0  ...
20               0               0               0               0  ...
21               0               0               0               0  ...
22               0               0               0               0  ...
23               0               0               0               0  ...
24               0               0               0               0  ...
25               0               0               0               0  ...
26               0               0               0               0  ...
27               0               0               0               0  ...
28               0               0               0               0  ...
29               0               0               0               0  ...
30               0               0               0               0  ...
31               0               0               0               0  ...
32               0               0               0               0  ...
33               0               0               0               0  ...
34               0               0               0               0  ...
35               0               0               0               0  ...
36               0               0               0               0  ...
37               0               0               0               0  ...
38               0               0               0               0  ...
39               0               0               0               0  ...
40               0               0               0               0  ...
41               0               0               0               0  ...
42               0               0               0               0  ...
43               0               0               0               0  ...
44               0               0               0               0  ...
45               0               0               0               0  ...
46               0               0               0               0  ...
47               0               0               0               0  ...
48               0               0               0               0  ...
49               0               0               0               0  ...

    complex_rule_12  complex_rule_13  complex_rule_14  complex_rule_15  \
0                 0                0                0                0
1                 0                0                1                1
2                 0                0                0                0
3                 0                0                1                1
4                 0                0                1                1
5                 0                0                1                1
6                 0                0                1                1
7                 0                0                0                0
8                 0                0                1                1
9                 0                0                1                1
10                0                0                0                0
11                0                0                1                1
12                0                0                0                0
13                0                0                1                1
14                0                0                1                1
15                0                0                1                1
16                0                0                1                1
17                0                0                0                0
18                0                0                1                1
19                0                0                1                1
20                0                0                0                0
21                0                0                1                1
22                0                0                0                0
23                0                0                1                1
24                0                0                1                1
25                0                0                1                1
26                0                0                1                1
27                0                0                0                0
28                0                0                1                1
29                0                0                1                1
30                0                0                0                0
31                0                0                1                1
32                0                0                0                0
33                0                0                1                1
34                0                0                1                1
35                0                0                1                1
36                0                0                1                1
37                0                0                0                0
38                0                0                1                1
39                0                0                1                1
40                0                0                0                0
41                0                0                1                1
42                0                0                0                0
43                0                0                1                1
44                0                0                1                1
45                0                0                1                1
46                0                0                1                1
47                0                0                0                0
48                0                0                1                1
49                0                0                1                1

    complex_rule_16  complex_rule_17  complex_rule_18  complex_rule_19  \
0                 0                0                0                0
1                 1                1                1                1
2                 0                0                0                0
3                 1                1                1                1
4                 1                1                1                1
5                 1                1                1                1
6                 1                1                1                1
7                 0                0                0                0
8                 1                1                1                1
9                 1                1                1                1
10                0                0                0                0
11                1                1                1                1
12                0                0                0                0
13                1                1                1                1
14                1                1                1                1
15                1                1                1                1
16                1                1                1                1
17                0                0                0                0
18                1                1                1                1
19                1                1                1                1
20                0                0                0                0
21                1                1                1                1
22                0                0                0                0
23                1                1                1                1
24                1                1                1                1
25                1                1                1                1
26                1                1                1                1
27                0                0                0                0
28                1                1                1                1
29                1                1                1                1
30                0                0                0                0
31                1                1                1                1
32                0                0                0                0
33                1                1                1                1
34                1                1                1                1
35                1                1                1                1
36                1                1                1                1
37                0                0                0                0
38                1                1                1                1
39                1                1                1                1
40                0                0                0                0
41                1                1                1                1
42                0                0                0                0
43                1                1                1                1
44                1                1                1                1
45                1                1                1                1
46                1                1                1                1
47                0                0                0                0
48                1                1                1                1
49                1                1                1                1

    anomaly_score  anomaly
0        0.030999    False
1        0.120971    False
2       -0.004127    False
3        0.089840    False
4        0.099531    False
5        0.018826    False
6        0.035939    False
7        0.000459    False
8        0.079704    False
9        0.057407    False
10       0.030999    False
11       0.120971    False
12      -0.004127    False
13       0.089840    False
14       0.099531    False
15       0.018826    False
16       0.035939    False
17       0.000459    False
18       0.079704    False
19       0.057407    False
20       0.030999    False
21       0.120971    False
22      -0.004127    False
23       0.089840    False
24       0.099531    False
25       0.018826    False
26       0.035939    False
27       0.000459    False
28       0.079704    False
29       0.057407    False
30       0.030999    False
31       0.120971    False
32      -0.004127    False
33       0.089840    False
34       0.099531    False
35       0.018826    False
36       0.035939    False
37       0.000459    False
38       0.079704    False
39       0.057407    False
40       0.030999    False
41       0.120971    False
42      -0.004127    False
43       0.089840    False
44       0.099531    False
45       0.018826    False
46       0.035939    False
47       0.000459    False
48       0.079704    False
49       0.057407    False

[50 rows x 28 columns]

In [7]:
df['Target'].value_counts()

1    30
0    20
Name: Target, dtype: int64

In [16]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import export_text
import itertools
import re

# Create the dataframe with more records and additional variables
import pandas as pd
import numpy as np

# Create a new dataset with 1000 records
np.random.seed(42)  # For reproducibility
n_records = 1000

age = np.random.randint(20, 60, size=n_records)
income = np.random.randint(30000, 100000, size=n_records)
education = np.random.choice(['High', 'Medium', 'Low'], size=n_records)
gender = np.random.choice(['Male', 'Female'], size=n_records)
target = np.random.choice([0, 1], size=n_records, p=[0.9, 0.1])  # 3% anomalies

data = {
    'Age': age,
    'Income': income,
    'Education': education,
    'Gender': gender,
    'Target': target
}

df = pd.DataFrame(data)

# One-hot encode categorical variables
df = pd.get_dummies(df, columns=['Education', 'Gender'], drop_first=True)

# Display the new dataset
print(df)


# Fit a decision tree model
X = df.drop('Target', axis=1)
y = df['Target']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

tree_model = DecisionTreeClassifier()
tree_model.fit(X_train, y_train)

# Generate text-based rules from the decision tree
tree_rules = export_text(tree_model, feature_names=X.columns.tolist())

# Define combinations of variables
variable_combinations = list(itertools.combinations(X.columns, 2))

# Extract complex rule conditions based on variable combinations
complex_rule_conditions = []
for line in tree_rules.split('\n'):
    if line.startswith('|---') and 'class:' not in line:
        for var1, var2 in variable_combinations:
            condition = line.replace('|--- ', '').strip()  # Modify condition format
            condition = re.sub(r'([A-Za-z_]+)', r'row["\1"]', condition)  # Replace feature names
            condition = condition.replace(f'row["{var1}"]', var1).replace(f'row["{var2}"]', var2)
            complex_rule_conditions.append(condition)

# Custom function to evaluate conditions row-wise
def evaluate_condition(row, condition):
    try:
        return int(eval(condition, {'__builtins__': None, 'row': row}))
    except:
        return 0

# Create binary features based on the complex rule conditions
for idx, condition in enumerate(complex_rule_conditions):
    feature_name = f'complex_rule_{idx}'
    df[feature_name] = df.apply(lambda row, condition=condition: evaluate_condition(row, condition), axis=1)

# Split the dataset for anomaly detection
X = df.drop('Target', axis=1)
y = df['Target']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Use X_train for training your anomaly detection model
# Use X_test for evaluating the model's performance

     Age  Income  Target  Education_Low  Education_Medium  Gender_Male
0     58   74327       0              1                 0            0
1     48   98904       0              0                 0            1
2     34   33797       0              1                 0            0
3     27   77882       0              1                 0            1
4     40   43718       0              0                 0            1
..   ...     ...     ...            ...               ...          ...
995   27   77076       0              0                 0            0
996   47   83420       0              0                 0            0
997   50   30671       0              0                 0            0
998   28   30163       0              0                 0            1
999   48   71424       0              0                 0            1

[1000 rows x 6 columns]

In [17]:
X_train.head()

,Age,Income,Education_Low,Education_Medium,Gender_Male,complex_rule_0,complex_rule_1,complex_rule_2,complex_rule_3,complex_rule_4,...,complex_rule_10,complex_rule_11,complex_rule_12,complex_rule_13,complex_rule_14,complex_rule_15,complex_rule_16,complex_rule_17,complex_rule_18,complex_rule_19
29,34,66368,0,1,1,0,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
535,57,92768,0,0,0,0,0,0,0,0,...,0,1,1,1,0,0,0,1,1,1
695,57,49508,0,1,0,0,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
557,39,66877,0,0,0,0,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
836,34,46456,0,1,1,0,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
import pandas as pd
from sklearn.ensemble import IsolationForest
from sklearn.model_selection import train_test_split

# Fit the Isolation Forest model
isolation_forest_model = IsolationForest(contamination=0.1, random_state=42)
isolation_forest_model.fit(X_train)

# Predict anomalies
anomaly_scores = isolation_forest_model.decision_function(X)

# Add 'anomaly' score column to the original dataset
df['anomaly_score'] = anomaly_scores

# Set a threshold for anomaly classification
anomaly_threshold = -0.2  # Adjust this threshold as needed

# Add 'anomaly' column as True or False
df['anomaly'] = df['anomaly_score'] < anomaly_threshold

# Display the dataset with 'anomaly' column
print(df)

# Display the dataset with 'anomaly' scores
#print(df)

C:\Users\pixel\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but IsolationForest was fitted with feature names
  warnings.warn(

     Age  Income  Target  Education_Low  Education_Medium  Gender_Male  \
0     58   74327       0              1                 0            0
1     48   98904       0              0                 0            1
2     34   33797       0              1                 0            0
3     27   77882       0              1                 0            1
4     40   43718       0              0                 0            1
..   ...     ...     ...            ...               ...          ...
995   27   77076       0              0                 0            0
996   47   83420       0              0                 0            0
997   50   30671       0              0                 0            0
998   28   30163       0              0                 0            1
999   48   71424       0              0                 0            1

     complex_rule_0  complex_rule_1  complex_rule_2  complex_rule_3  ...  \
0                 0               1               1               1  ...
1                 0               0               0               0  ...
2                 0               1               1               1  ...
3                 0               1               1               1  ...
4                 0               1               1               1  ...
..              ...             ...             ...             ...  ...
995               0               1               1               1  ...
996               0               1               1               1  ...
997               0               1               1               1  ...
998               0               1               1               1  ...
999               0               1               1               1  ...

     complex_rule_12  complex_rule_13  complex_rule_14  complex_rule_15  \
0                  0                0                0                0
1                  1                1                0                0
2                  0                0                0                0
3                  0                0                0                0
4                  0                0                0                0
..               ...              ...              ...              ...
995                0                0                0                0
996                0                0                0                0
997                0                0                0                0
998                0                0                0                0
999                0                0                0                0

     complex_rule_16  complex_rule_17  complex_rule_18  complex_rule_19  \
0                  0                0                0                0
1                  0                1                1                1
2                  0                0                0                0
3                  0                0                0                0
4                  0                0                0                0
..               ...              ...              ...              ...
995                0                0                0                0
996                0                0                0                0
997                0                0                0                0
998                0                0                0                0
999                0                0                0                0

     anomaly_score  anomaly
0         0.068207    False
1         0.014678    False
2         0.060417    False
3         0.089768    False
4         0.122594    False
..             ...      ...
995       0.114792    False
996       0.080441    False
997       0.069079    False
998       0.070924    False
999       0.135259    False

[1000 rows x 28 columns]

In [19]:
df['Target'].value_counts()

0    911
1     89
Name: Target, dtype: int64

In [20]:
df[(df['anomaly'] == True) & (df['Target']==1)]

Empty DataFrame
Columns: [Age, Income, Target, Education_Low, Education_Medium, Gender_Male, complex_rule_0, complex_rule_1, complex_rule_2, complex_rule_3, complex_rule_4, complex_rule_5, complex_rule_6, complex_rule_7, complex_rule_8, complex_rule_9, complex_rule_10, complex_rule_11, complex_rule_12, complex_rule_13, complex_rule_14, complex_rule_15, complex_rule_16, complex_rule_17, complex_rule_18, complex_rule_19, anomaly_score, anomaly]
Index: []

[0 rows x 28 columns]

In [21]:
df['anomaly'].value_counts()

False    1000
Name: anomaly, dtype: int64

In [33]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

# Sample dataset
data = pd.DataFrame({
    'maturity_value': [100, 50, 10, 500, 10, 500, 20, 0],
    'category': ['S.A', 'D.A', 'J.K', 'J.K', 'S.A', 'I.T', 'D.A', 'J.K'],
    'prod_category': ['S.A', 'D.A', 'R.Y', 'S.A', 'R.Y', 'D.A', 'R.Y', 'I.T'],
    'amount': [100, 150, 100, 200, 50, 300, 120, 0]
})

# Generate 2000 records
n_records = 2000
random_indices = np.random.choice(data.index, size=n_records, replace=True)
anomaly_probabilities = np.random.uniform(0, 1, size=n_records)
response_variable = [1 if p < 0.1 else 0 for p in anomaly_probabilities]  # 3% anomalies

anomaly_data = data.iloc[random_indices].copy()
anomaly_data['response'] = response_variable

# Use LabelEncoder for categorical variables
label_encoder = LabelEncoder()

categorical_columns = ['category', 'prod_category']
for column in categorical_columns:
    anomaly_data[column] = label_encoder.fit_transform(anomaly_data[column])

# Display the new anomaly dataset with encoded categorical variables
print(anomaly_data)

    maturity_value  category  prod_category  amount  response
0              100         3              3     100         1
0              100         3              3     100         0
5              500         1              0     300         0
3              500         2              3     200         0
6               20         0              2     120         1
..             ...       ...            ...     ...       ...
4               10         3              2      50         0
2               10         2              2     100         0
4               10         3              2      50         0
2               10         2              2     100         0
1               50         0              0     150         0

[2000 rows x 5 columns]

In [34]:
df = anomaly_data

In [35]:
# Fit a decision tree model
X = df.drop('response', axis=1)
y = df['response']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

tree_model = DecisionTreeClassifier()
tree_model.fit(X_train, y_train)

# Generate text-based rules from the decision tree
tree_rules = export_text(tree_model, feature_names=X.columns.tolist())

# Define combinations of variables
variable_combinations = list(itertools.combinations(X.columns, 2))

# Extract complex rule conditions based on variable combinations
complex_rule_conditions = []
for line in tree_rules.split('\n'):
    if line.startswith('|---') and 'class:' not in line:
        for var1, var2 in variable_combinations:
            condition = line.replace('|--- ', '').strip()  # Modify condition format
            condition = re.sub(r'([A-Za-z_]+)', r'row["\1"]', condition)  # Replace feature names
            condition = condition.replace(f'row["{var1}"]', var1).replace(f'row["{var2}"]', var2)
            complex_rule_conditions.append(condition)

# Custom function to evaluate conditions row-wise
def evaluate_condition(row, condition):
    try:
        return int(eval(condition, {'__builtins__': None, 'row': row}))
    except:
        return 0

# Create binary features based on the complex rule conditions
for idx, condition in enumerate(complex_rule_conditions):
    feature_name = f'complex_rule_{idx}'
    df[feature_name] = df.apply(lambda row, condition=condition: evaluate_condition(row, condition), axis=1)

# Split the dataset for anomaly detection
X = df.drop('response', axis=1)
y = df['response']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Use X_train for training your anomaly detection model
# Use X_test for evaluating the model's performance

In [36]:
X_train.head()

,maturity_value,category,prod_category,amount,complex_rule_0,complex_rule_1,complex_rule_2,complex_rule_3,complex_rule_4,complex_rule_5,complex_rule_6,complex_rule_7,complex_rule_8,complex_rule_9,complex_rule_10,complex_rule_11
4,10,3,2,50,0,0,0,0,0,0,0,1,1,0,0,1
3,500,2,3,200,0,0,0,0,0,0,0,1,1,0,0,1
2,10,2,2,100,0,0,0,0,0,0,0,1,1,0,0,1
2,10,2,2,100,0,0,0,0,0,0,0,1,1,0,0,1
4,10,3,2,50,0,0,0,0,0,0,0,1,1,0,0,1

In [37]:
import pandas as pd
from sklearn.ensemble import IsolationForest
from sklearn.model_selection import train_test_split

# Fit the Isolation Forest model
isolation_forest_model = IsolationForest(contamination=0.1, random_state=42)
isolation_forest_model.fit(X_train)

# Predict anomalies
anomaly_scores = isolation_forest_model.decision_function(X)

# Add 'anomaly' score column to the original dataset
df['anomaly_score'] = anomaly_scores

# Set a threshold for anomaly classification
anomaly_threshold = -0.0  # Adjust this threshold as needed

# Add 'anomaly' column as True or False
df['anomaly'] = df['anomaly_score'] < anomaly_threshold

# Display the dataset with 'anomaly' column
print(df)

# Display the dataset with 'anomaly' scores
#print(df)

C:\Users\pixel\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but IsolationForest was fitted with feature names
  warnings.warn(

    maturity_value  category  prod_category  amount  response  complex_rule_0  \
0              100         3              3     100         1               0
0              100         3              3     100         0               0
5              500         1              0     300         0               0
3              500         2              3     200         0               0
6               20         0              2     120         1               0
..             ...       ...            ...     ...       ...             ...
4               10         3              2      50         0               0
2               10         2              2     100         0               0
4               10         3              2      50         0               0
2               10         2              2     100         0               0
1               50         0              0     150         0               0

    complex_rule_1  complex_rule_2  complex_rule_3  complex_rule_4  \
0                0               0               0               0
0                0               0               0               0
5                1               1               0               0
3                0               0               0               0
6                1               1               0               0
..             ...             ...             ...             ...
4                0               0               0               0
2                0               0               0               0
4                0               0               0               0
2                0               0               0               0
1                1               1               0               0

    complex_rule_5  complex_rule_6  complex_rule_7  complex_rule_8  \
0                0               0               1               1
0                0               0               1               1
5                1               0               0               0
3                0               0               1               1
6                1               0               0               0
..             ...             ...             ...             ...
4                0               0               1               1
2                0               0               1               1
4                0               0               1               1
2                0               0               1               1
1                1               0               0               0

    complex_rule_9  complex_rule_10  complex_rule_11  anomaly_score  anomaly
0                0                0                1       0.040430    False
0                0                0                1       0.040430    False
5                0                0                0       0.000000    False
3                0                0                1       0.014813    False
6                0                0                0       0.010174    False
..             ...              ...              ...            ...      ...
4                0                0                1       0.055723    False
2                0                0                1       0.064829    False
4                0                0                1       0.055723    False
2                0                0                1       0.064829    False
1                0                0                0       0.034711    False

[2000 rows x 19 columns]

In [38]:
df['anomaly'].value_counts()

False    2000
Name: anomaly, dtype: int64

In [52]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

# Create a new dataset with anomalies
n_records = 2000

# Create random data
data = {
    'feature_1': np.random.normal(0, 1, n_records),
    'feature_2': np.random.uniform(0, 1, n_records),
    'feature_3': np.random.choice(['A', 'B', 'C'], size=n_records),
    'feature_4': np.random.randint(1, 11, n_records)
}

# Introduce anomalies in the dataset
anomaly_indices = np.random.choice(np.arange(n_records), size=int(0.1 * n_records), replace=False)  # 3% anomalies
data['feature_1'][anomaly_indices] = np.random.normal(10, 1, len(anomaly_indices))
data['feature_2'][anomaly_indices] = np.random.uniform(5, 10, len(anomaly_indices))
data['feature_3'][anomaly_indices] = 'D'
data['feature_4'][anomaly_indices] = np.random.randint(20, 30, len(anomaly_indices))

# Create a DataFrame
anomaly_df = pd.DataFrame(data)

# Use LabelEncoder for categorical variable
label_encoder = LabelEncoder()
anomaly_df['feature_3'] = label_encoder.fit_transform(anomaly_df['feature_3'])

# Create the target variable (response)
anomaly_df['anomaly'] = 0
anomaly_df['anomaly'].iloc[anomaly_indices] = 1

# Display the anomaly dataset
print(anomaly_df)

      feature_1  feature_2  feature_3  feature_4  anomaly
0     -1.175870   0.852645          2          9        0
1      0.345086   0.993827          0          7        0
2     -0.341503   0.455026          0         10        0
3      1.139486   0.511764          2          3        0
4      9.480229   7.709887          3         22        1
...         ...        ...        ...        ...      ...
1995   0.145909   0.403033          0          6        0
1996   0.920770   0.694385          1          7        0
1997  10.125692   8.750591          3         25        1
1998  -0.787343   0.036730          0          7        0
1999   8.906708   7.567314          3         20        1

[2000 rows x 5 columns]

C:\Users\pixel\AppData\Local\Temp\ipykernel_9740\3422269589.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  anomaly_df['anomaly'].iloc[anomaly_indices] = 1

In [53]:
df = anomaly_df
df.head()

   feature_1  feature_2  feature_3  feature_4  anomaly
0  -1.175870   0.852645          2          9        0
1   0.345086   0.993827          0          7        0
2  -0.341503   0.455026          0         10        0
3   1.139486   0.511764          2          3        0
4   9.480229   7.709887          3         22        1

In [54]:
df['anomaly'].value_counts()

0    1800
1     200
Name: anomaly, dtype: int64

In [55]:
# Fit a decision tree model
X = df.drop('anomaly', axis=1)
y = df['anomaly']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

tree_model = DecisionTreeClassifier()
tree_model.fit(X_train, y_train)

# Generate text-based rules from the decision tree
tree_rules = export_text(tree_model, feature_names=X.columns.tolist())

# Define combinations of variables
variable_combinations = list(itertools.combinations(X.columns, 2))

# Extract complex rule conditions based on variable combinations
complex_rule_conditions = []
for line in tree_rules.split('\n'):
    if line.startswith('|---') and 'class:' not in line:
        for var1, var2 in variable_combinations:
            condition = line.replace('|--- ', '').strip()  # Modify condition format
            condition = re.sub(r'([A-Za-z_]+)', r'row["\1"]', condition)  # Replace feature names
            condition = condition.replace(f'row["{var1}"]', var1).replace(f'row["{var2}"]', var2)
            complex_rule_conditions.append(condition)

# Custom function to evaluate conditions row-wise
def evaluate_condition(row, condition):
    try:
        return int(eval(condition, {'__builtins__': None, 'row': row}))
    except:
        return 0

# Create binary features based on the complex rule conditions
for idx, condition in enumerate(complex_rule_conditions):
    feature_name = f'complex_rule_{idx}'
    df[feature_name] = df.apply(lambda row, condition=condition: evaluate_condition(row, condition), axis=1)

# Split the dataset for anomaly detection
X = df.drop('anomaly', axis=1)
y = df['anomaly']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Use X_train for training your anomaly detection model
# Use X_test for evaluating the model's performance

In [56]:
X_train.head()

,feature_1,feature_2,feature_3,feature_4,complex_rule_0,complex_rule_1,complex_rule_2,complex_rule_3,complex_rule_4,complex_rule_5,complex_rule_6,complex_rule_7,complex_rule_8,complex_rule_9,complex_rule_10,complex_rule_11
968,-0.990089,0.648779,0,6,0,0,0,0,0,0,0,0,0,0,0,0
240,1.137692,0.211066,2,7,0,0,0,0,0,0,0,0,0,0,0,0
819,0.335140,0.862149,2,2,0,0,0,0,0,0,0,0,0,0,0,0
692,1.886712,0.830365,0,2,0,0,0,0,0,0,0,0,0,0,0,0
420,0.852342,0.307960,1,1,0,0,0,0,0,0,0,0,0,0,0,0

In [57]:
import pandas as pd
from sklearn.ensemble import IsolationForest
from sklearn.model_selection import train_test_split

# Fit the Isolation Forest model
isolation_forest_model = IsolationForest(contamination=0.1, random_state=42)
isolation_forest_model.fit(X_train)

# Predict anomalies
anomaly_scores = isolation_forest_model.decision_function(X)

# Add 'anomaly' score column to the original dataset
df['anomaly_score'] = anomaly_scores

# Set a threshold for anomaly classification
anomaly_threshold = -0.0  # Adjust this threshold as needed

# Add 'anomaly' column as True or False
df['anomaly_new'] = df['anomaly_score'] < anomaly_threshold

# Display the dataset with 'anomaly' column
print(df)

# Display the dataset with 'anomaly' scores
#print(df)

C:\Users\pixel\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but IsolationForest was fitted with feature names
  warnings.warn(

      feature_1  feature_2  feature_3  feature_4  anomaly  complex_rule_0  \
0     -1.175870   0.852645          2          9        0               0
1      0.345086   0.993827          0          7        0               0
2     -0.341503   0.455026          0         10        0               0
3      1.139486   0.511764          2          3        0               0
4      9.480229   7.709887          3         22        1               0
...         ...        ...        ...        ...      ...             ...
1995   0.145909   0.403033          0          6        0               0
1996   0.920770   0.694385          1          7        0               0
1997  10.125692   8.750591          3         25        1               0
1998  -0.787343   0.036730          0          7        0               0
1999   8.906708   7.567314          3         20        1               0

      complex_rule_1  complex_rule_2  complex_rule_3  complex_rule_4  \
0                  0               0               0               0
1                  0               0               0               0
2                  0               0               0               0
3                  0               0               0               0
4                  0               0               0               0
...              ...             ...             ...             ...
1995               0               0               0               0
1996               0               0               0               0
1997               0               0               0               0
1998               0               0               0               0
1999               0               0               0               0

      complex_rule_5  complex_rule_6  complex_rule_7  complex_rule_8  \
0                  0               0               0               0
1                  0               0               0               0
2                  0               0               0               0
3                  0               0               0               0
4                  0               0               0               0
...              ...             ...             ...             ...
1995               0               0               0               0
1996               0               0               0               0
1997               0               0               0               0
1998               0               0               0               0
1999               0               0               0               0

      complex_rule_9  complex_rule_10  complex_rule_11  anomaly_score  \
0                  0                0                0       0.112581
1                  0                0                0       0.090824
2                  0                0                0       0.120256
3                  0                0                0       0.115962
4                  0                0                0      -0.007686
...              ...              ...              ...            ...
1995               0                0                0       0.146771
1996               0                0                0       0.152023
1997               0                0                0       0.004195
1998               0                0                0       0.071762
1999               0                0                0      -0.057299

      anomaly_new
0           False
1           False
2           False
3           False
4            True
...           ...
1995        False
1996        False
1997        False
1998        False
1999         True

[2000 rows x 19 columns]

In [58]:
df['anomaly'].value_counts()

0    1800
1     200
Name: anomaly, dtype: int64

In [60]:
df[(df['anomaly_new'] == True) & (df['anomaly']==1)].shape

(194, 19)